:root {
  --primary-color: #da291c;
  --secondary-color: #ffc72c;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 11rem;
  height: 100%;
}

header {
  padding: 0 10rem;
  grid-area: header;
  background-color: var(--primary-color);
}

main {
  grid-area: main;
  background-color: lightcyan;
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
}

/* Common */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

header a {
  color: #fff;
}

header a:hover {
  color: var(--secondary-color);
}

a.brand {
  font-size: 3rem;
  font-weight: 700;
}
